.featuries {
  padding: 0;
  padding-top: 120px;
  max-width: 1222px;

  @include vp-767 {
    padding-bottom: 46px;
    padding-top: 50px;
  }
}

.featuries__list {
  margin: 0;
  padding: 0;
  margin-left: 35px;
  margin-bottom: 75px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 31px;
  row-gap: 30px;

  @include vp-767 {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    gap: 30px;
  }
}

.featuries__item {
  min-width: 595px;
  min-height: 300px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 20px;
  padding-bottom: 68px;
  border: 1px solid $color-whisper;
  border-left: 5px solid $color-deep-sky-blue;

  @include vp-767 {
    min-width: 100%;
    height: auto;
    min-height: 340px;
    padding-top: 30px;
    padding-bottom: 55px;
    padding-left: 25px;
    padding-right: 25px;

    & svg {
      width: 30px;
      height: 30px;
    }
  }

  &--small {
    @include vp-767 {
      min-height: 325px;
    }
  }

  & svg {
    fill: $color-deep-sky-blue;
  }

  & h3 {
    margin: 0;
    margin-top: 14px;
    margin-bottom: 14px;
    font-family: $ff-roboto-condensed;
    font-size: 24px;
    line-height: 140%;

    color: $color-deep-sky-blue;

    @include vp-767 {
      font-size: 20px;
      line-height: 140%;
      margin-bottom: 10px;
      margin-top: 9px;
    }
  }

  & p {
    margin: 0;
    line-height: 135%;

    color: $color-black-pearl;

    @include vp-767 {
      font-size: 14px;
      line-height: 135%;
      min-height: 140px;
    }
  }

  @include hover {
    border-color: $color-deep-sky-blue;
    background-color: $color-deep-sky-blue;

    & h3 {
      color: $color-alice-blue;
    }

    & p {
      color: $color-alice-blue;
    }

    & svg {
      fill: $color-alice-blue;
    }
  }
}
