.main-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
  z-index: 2;

  background: linear-gradient(180deg, $color-black-pearl 84.9%, rgba(4, 24, 39, 0) 100%);

  @include vp-1023 {
    position: relative;
    top: auto;
  }
}

.main-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  padding-left: 20px;
  padding-right: 5px;
  padding-top: 28px;
  padding-bottom: 30px;

  @include vp-1023 {
    align-items: flex-start;

    padding-top: 20px;
    padding-bottom: 25px;
  }

  @include vp-767 {
    align-items: center;
    padding-top: 12px;
    padding-bottom: 15px;
  }
}

.main-header__contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 28px;
  width: 480px;
  margin-left: auto;

  @include vp-1023 {
    width: auto;
    max-width: 440px;
    gap: 20px;

    padding-right: 20px;
  }

  @include vp-767 {
    max-width: 200px;
    padding-right: 10px;
    padding-top: 0;
  }
}

.main-header__contacts-link {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 15px;

  line-height: 18px;

  color: $color-default-white;

  & svg {
    fill: $color-deep-sky-blue;
  }

  @include vp-1023 {
    justify-content: center;
    min-width: auto;
    width: 40px;
    height: 40px;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  @include vp-767 {
    width: 40px;
    height: 40px;
  }
}

.main-header__contacts-link p {
  display: block;

  @include vp-1023 {
    display: none;
  }
}

.main-header__button {
  margin-right: 6%;
  margin-left: auto;

  max-width: 160px;

  color: $color-alice-blue;

  background-color: transparent;
  border: 1px solid $color-alice-blue;

  @include vp-1023 {
    display: none;
  }
}
