.main-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
  z-index: 2;

  background: linear-gradient(180deg, $color-black-pearl 84.9%, rgba(4, 24, 39, 0) 100%);

  @include vp-1023 {
    position: relative;
    top: auto;
  }
}

.main-header__wrapper {
  /* display: grid;
  grid-template-columns: 28% auto 21%;
  column-gap: 4%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding-left: 20px;
  padding-right: 80px;
  padding-top: 28px;
  padding-bottom: 30px;

  @include vp-1023 {
    grid-template-columns: 1fr 1fr;

    padding-top: 20px;
    padding-bottom: 25px;
  }

  @include vp-767 {
    padding-top: 14px;
    padding-bottom: 20px;
  }
}

.main-header__contacts {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  min-width: 467px;

  @include vp-1023 {
    align-items: flex-start;
    min-width: 97px;

    margin-left: auto;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-right: 12px;
  }

  @include vp-767 {
    min-width: auto;
    margin-left: auto;
    padding-top: 6px;
    padding-right: 2px;
  }
}

.main-header__contacts-link {
  display: flex;
  align-items: center;

  min-width: 210px;
  padding-left: 7px;
  line-height: 18px;

  color: $color-default-white;

  & svg {
    margin-right: 15px;

    fill: $color-deep-sky-blue;
  }

  @include vp-1023 {
    min-width: 20px;
    padding-left: 30px;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}

.main-header__contacts-link p {
  display: block;

  @include vp-1023 {
    display: none;
  }
}

.main-header__button {
  align-self: center;

  max-width: 160px;

  color: $color-alice-blue;

  background-color: transparent;
  border: 1px solid $color-alice-blue;

  @include vp-1023 {
    display: none;
  }
}
