.main-footer {
  color: $color-default-white;
  background-color: $color-black-pearl;
}

.main-footer__wrapper {
  display: grid;

  @include vp-767 {
    grid-template-columns: 1fr;
    padding: 35px 0;
  }
}

.main-footer__inner {
  display: flex;
  flex-direction: column;

  @include vp-767 {
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid $color-default-white;
  }
}

.main-footer__logo {
  @include vp-767 {
    margin-right: 0;
  }
}

.main-footer__socials {
  @include vp-767 {
    width: 45%;
    margin-top: 20px;
  }
}

.main-footer__socials-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;

  & a {
    @include hover-focus {
      opacity: 0.8;
    }
  }
}

.main-footer__nav-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;

  & a {
    line-height: 135%;
    color: rgba($color-default-white, 0.7);
  }

  @include vp-767 {
    border-bottom: 1px solid $color-default-white;
  }

  @include vp-1023 {
    grid-template-columns: 1fr;
  }
}

.main-footer__contacts {
  display: grid;
  row-gap: 10px;

  @include vp-767 {
    border-bottom: 1px solid $color-default-white;
  }

  & p {
    line-height: 135%;
    color: rgba($color-default-white, 0.7);
  }
}

.main-footer__contacts-phone {
  margin: 0;
  padding: 0;
  list-style: none;

  & a {
    line-height: 135%;
    color: rgba($color-default-white, 0.7);
  }
}
